:root {
	--picture-size: 200px;
}
@media (max-width: 500px), (max-height: 500px) {
	:root {
		--picture-size: 100px;
	}
}
@media (min-width: 1000px), (min-height: 1000px) {
	:root {
		--picture-size: 300px;
	}
}

img {
	max-width: var(--picture-size);
	max-height: var(--picture-size);
	/*image-orientation: from-image; Not available in Chrome yet*/
}

.frame {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--picture-size);
	height: var(--picture-size);
	background-color: lightgray;
	padding: 5px;
	margin: 2px;
	vertical-align: top;
}
/*img.rotate-none {
}*/
img.rotate-flip {
	transform: rotate(180deg);
}
img.rotate-cw {
	transform: rotate(90deg);
}
img.rotate-ccw {
	transform: rotate(270deg);
}

.hidden {
	width: 0px;
	height: 0px;
}