:root {
	--picture-size: 150px;
}
@media (max-width: 500px) {
	:root {
		--picture-size: 100px;
	}
}
@media (min-width: 1000px) {
	:root {
		--picture-size: 200px;
	}
}

html, body, #root, .page {
	height: 100%;
	margin: 0px;
	background-color: rgb(50%, 50%, 50%);
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.frame {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.banner {
	flex: 0 0 auto;
}
.content {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row;
}
.list {
	flex: 0 0 auto;
	overflow-y: scroll;
}
.list > li {
	margin-bottom: 1px;
}
.current {
	flex: 1 1 auto;
}

.picture {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(60%, 60%, 60%);
	vertical-align: top;
	width: 100%;
	height: 100%;
	padding: 1px;
	box-sizing: border-box;
	position: relative;
}
.thumb {
	width: var(--picture-size);
	height: var(--picture-size);
}

.details {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: rgba(0%, 0%, 0%, 0.3);
	color: rgb(100%, 100%, 100%);
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
}
.details > li {
	padding: 2px;
}

/*image-orientation: from-image; Not available in Chrome yet*/
img.rotate-flip {
	transform: rotate(180deg);
}
img.rotate-cw {
	transform: rotate(90deg);
}
img.rotate-ccw {
	transform: rotate(270deg);
}

.hidden {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
